langchain
langchain-openai
langchain_huggingface
ipykernel
python-dotenv
bs4
pypdf
arxiv
wikipedia
chromadb
faiss-cpu
langchain-community
pymupdf
langchain-text-splitters
sentence_transformers
torch
langchain-groq
unstructured
validators==0.28.1
youtube_transcript_api
pytube